<%- layout('layouts/boilerplate') -%>

<body>

  <div class="row mt-4 mb-4 justify-content-center">
    <div class="col">
      <h2 class="mb-3"><%= listings.title %></h2>

      <div class="listings-card col-12 col-md-10 col-lg-8 mt-2">
        <img src="<%= listings.image.url %>" class="card-img-top" style="height: 30vh;" alt="listingsImage" />
        <div class="card-body">
          <div class="mt-3 card-text">
            Owned By User: <i><%= listings.owner.username %></i>
          </div>
          <ul class="mb-3 mt-2">
            <li><%= listings.description %></li>
            <li>PKR: <%= listings.price.toLocaleString("en-IN") %> /- for <b>1</b> night</li>
            <li><i class="fa-solid fa-mountain-city"></i>&nbsp;<%= listings.location %></li>
            <li><i class="fa-solid fa-location-dot"></i>&nbsp;<%= listings.country %></li>
          </ul>

          <% if (currUser && currUser._id.toString() === listings.owner._id.toString()) { %>
            <div class="d-flex justify-content-between">
              <a href="/listings/<%= listings._id %>/edit" class="btn btn-outline-warning">Edit</a>
              <form method="post" action="/listings/<%= listings._id %>?_method=DELETE">
                <button class="btn btn-danger">Delete</button>
              </form>
            </div>
          <% } %>

          <% if (currUser) { %>
            <hr />
            <div class="mt-3">
              <h2>Your Review Creates Impact</h2>
              <form method="post" action="/listings/<%= listings._id %>/reviews" class="needs-validation" novalidate>
                <div class="mt-3">
                  <fieldset class="starability-slot">
                    <legend>First rating:</legend>
                    <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
                    <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                    <label for="first-rate1" title="Terrible">1 star</label>
                    <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                    <label for="first-rate2" title="Not good">2 stars</label>
                    <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                    <label for="first-rate3" title="Average">3 stars</label>
                    <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                    <label for="first-rate4" title="Very good">4 stars</label>
                    <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                    <label for="first-rate5" title="Amazing">5 stars</label>
                  </fieldset>
                </div>

                <div class="mt-3">
                  <label for="comment" class="form-label">Comment</label>
                  <textarea id="comment" class="form-control" name="review[comment]" rows="5" cols="8" required></textarea>
                  <div class="invalid-feedback">Please write some comments</div>
                </div>

                <div class="mt-3">
                  <button class="btn btn-outline-primary">Submit</button>
                </div>
              </form>
            </div>
          <% } %>

          <hr />
          <% if(listings.reviews.length>0){ %>

          
          <h3>All Reviews</h3>
          <div class="row justify-content-start">
            <% for (let review of listings.reviews) { %>
              <div class="col-6 card mb-3">
                <h5 class="card-title"><b><%= review.author.username %></b></h5>
                <p class="card-text"><%= review.comment %></p>
                <p class="starability-result" data-rating="<%= review.rating %>"></p>

                <% if (currUser) { %>
                  <form method="post" action="/listings/<%= listings._id %>/reviews/<%= review._id %>?_method=DELETE">
                    <button class="btn btn-outline-primary mb-2">Delete</button>
                  </form>
                <% } %>
              </div>
            <% } %>
          </div>
          <%}%>
        </div> <!-- end of card-body -->
      </div> <!-- end of listings-card -->
    </div> <!-- end of col -->
  </div> <!-- end of row -->
<div class="col-8 offset-1 mb-4">
  <h2>Where You will Be </h2>
  <div id="map" ></div>

<script>
  const mapToken = "<%= process.env.MAP_TOKEN %>";
  const coords = JSON.parse('<%- JSON.stringify(listings.geometry.coordinates.slice().reverse()) %>');
</script>

  <script src="/js/map.js"></script>
</div>
</body>
